@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'),
        url('assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Bold'),
        url('assets/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


body{
    background:  rgba(0, 0, 0, 0.7) url("assets/images/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-blend-mode: darken;
}
.icons{
    width:18px;
    padding-left: 50px;

}

footer{
    padding-left: 50px;
}


.container{
    margin-top: 20%;
    margin-bottom: 14%;
    margin-left: 70px;
}
button{
    background-color: #1cb495;
    border-radius: 6px;
    color: white;
    padding: 8px;
    border: none;
}
input{
    border: 0.7px solid white;
    border-radius: 6px;
    background-color: transparent;
    padding:8px;
    color: white;
   
    
}
form{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width: 20%;
    padding-top: 1.5%;
}
h1{
    font-family:"Roboto-Bold";
    font-weight:700;
    color: white;
    
    
}
p{
    font-family: 'Roboto-Regular';
    font-weight: 400;
    font-size: 1rem;
    color: rgb(255, 255, 255,0.5);
    width: 400px;
}
span{
    color: rgb(255, 255, 255,0.5);
    font-size: 0.7rem;
    
}

@media (max-width:480px){
    .container{
        padding-top: 10%;
    }
    form{
        display: inline-block;
        
    }
    button{
        width: 450%;
        margin-top: 20px;
    }
    input{
        width: 450%;
        margin-top: 20px;
        color: white;
    }
    p{
        width: 80%;
    }
 
    .icons{
        padding-top: 15%;
    }
    span{
        padding-left: 20%;
    }
}

@media (max-width:1024px) and (min-width:481px){
    p{
        text-align: center;
        padding-left: 20%;
    }
    h1{
        text-align: center;
    }
    form{
        display: inline-block;
        padding-left: 18%;
        
    }
    button{
        width: 300%;
        margin-top: 20px;
        
    }
    input{
        width: 300%;
        margin-top: 20px;
        color: white;
        
    }
 
    span{
        padding-left: 39%;
    }
}





